*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 14vh;
    background-color: #011e29;
    font-family: 'Poppins', sans-serif;
}
.container{
    border: 2px solid white;
}
.logo img{
    width: 100%
}
.left{
    float: left;
   
}

.left ul{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items:left;
    list-style: none;
    color: #ffffff;
    

}
.left ul>li{
    color: #ffffff;
    padding: 2px;
}

.category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    font-weight: 600;
}
.category ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
   
}
/* on hovering each category underline */

ul>li{
    display: inline-block;
  position: relative;
  color: #000000;
  
  font-size: 16px;
}
ul>li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
ul>li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    
}
ul>li:hover{
    color: #0087ca;
}